body{
  background: linear-gradient(to right,#8bf394,#f09797);
  animation: gradientAnimation 10s infinite;
  font-family: sans-serif;
  display: flow-root;
}
@keyframes gradientAnimation{
    0%{
        background: linear-gradient(to right,#8bf394,#f09797);
}
    50%{
        background: linear-gradient(to right,#f09797,#d5f097);
    }
    100%{
        background: linear-gradient(to right,#8bf394,#f09797);
    }
}
h1{
    text-transform: uppercase;
    color: brown;
    font-size:   41px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgb(255, 0, 0);
    border-color: #a1860b;
    border-radius: 5px;
}
button{
    display: inline-block;
    background-color: #624277;
    color: #fff;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 10px;
    text-transform: uppercase;
    border-color: #a1860b; 
    border-left: 5px;
    border-right: #8bf394;

}
button:hover{
    background-color: #418638c4;
    transition: 1s;
    color: rgb(255, 104, 104);
    cursor: pointer;
}


.intro{
    padding: 10px 20px;
    border-radius: 6px;
    color:rgb(176, 175, 221);
    background-color: rgb(71, 40, 2);

}
.download{
    padding-top: 5px 5px;
    background-color: rgb(77, 63, 0);
    border-radius: 6px;
    color:aqua;
    box-shadow: 9px 6px 40px rgba(255, 0, 0, 0.5);
}
p{
    color: rgb(228, 211, 21);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px 5px;
    text-transform: capitalize;
    text-transform: uppercase;
    text-decoration: wavy;
}
footer{
    text-align: center ;
}
.info{
    color: rgb(221, 214, 134);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
    background-color: #542275;
    text-align: justify;
    text-justify: newspaper;
    text-transform: uppercase;
    box-shadow: 9px 5px 40px rgb(255, 0, 0);
    border-radius: 10;
    border-color: #f09797;
    text-shadow: #a1860b;
    
}
a{
    text-overflow: ellipsis;
    color: #ffffff;
    border-color: #ffffff;
    text-decoration: none;

}
a:hover{
    color: #8bf394;
    direction: rtl;
}
@media only screen and (max-width:800px) {
    /* For tablets: */
   .info{
      width: 80%;
      padding: 0;
    }
   .info{
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
h1,.info,.intro{
      width: 100%;
    }
  }